<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.mobile.mobiledu.activities.SettingsActivity"
            android:exported="true" />

        <provider
            android:name="com.mobile.mobiledu.DUInitProvider"
            android:authorities="${applicationId}.duinitprovider"
            android:exported="false"
            android:initOrder="100" />

    </application>
</manifest>